<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNGPracticeSuite">
    <test name="TestNG->Car->Home->Loan">
        <classes>
            <class name="HomeLoan">
                <methods>
                    <include name="WebLoginHomeLoan"/>
                </methods>
            </class>
            <class name="CarLoan">
                <methods>
                    <exclude name="Mobile.*"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name = "TestNG->PersonalLoan">
        <classes>
            <class name="PersonalLoan">
                <methods>
                    <exclude name="MobileLoginPersonalLoan"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>